/*@media only screen and (max-width: 800px) {
  body {
    background-color: yellow;
  }
}*/

body {
  background-color: dimgrey;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: dimgrey;
  text-align: center;
}

.inseason-view {
  background-color: snow;
  height: 2400px;
}

.inseason-header {
  position: relative;
  height: 800px;
  background-color: dimgrey;
  overflow: hidden;
}

.about-header {
  font-family: 'rissatypefaceregular';
  font-size: 90px;
  padding: 50px;
}

#inseason-logo {
  text-decoration: none;
}

.inseason-logo {
  height: 200px;
  width: 100%;
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: 32%;
  margin-top: -50px;
  font-family: 'rissatypefaceregular';
  font-size: 300px;
  color: snow;
}

#inseason-motto {
  position: relative;
  color: snow;
  top: 65%;
  margin-top: -50px;
  font-weight: 300;
  font-size: 20px;
}

.whats-in-season,
.farmers-markets,
.about-inseason {
  height: 800px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.whats-in-season {
  background-image: url(https://i.imgur.com/pC1zABX.jpg);
  background-size: cover;
  background-position: middle center;
  background-attachment: fixed;
}

.farmers-markets {
  background-image: url(https://i.imgur.com/mWmgcnd.jpg);
  background-size: cover;
  background-position: middle center;
  background-attachment: fixed;
}

.about-inseason {
  background-image: url(https://i.imgur.com/TlVumon.jpg);
  background-size: cover;
  background-position: middle center;
  background-attachment: fixed;
}

#inseason-link {
  text-decoration: none;
  color: dimgrey;
  font-family: 'rissatypefaceregular';
  font-size: 150px;
  position: absolute;
  margin-top: 0px;
  top: -250px;
  left: 10%;
}

#inseason-link:hover {
  color: indianred;
}

#farmersmarket-link {
  text-decoration: none;
  color: snow;
  font-family: 'rissatypefaceregular';
  font-size: 150px;
  position: absolute;
  margin-top: 0px;
  top: -700px;
  left: 10%;
}

#farmersmarket-link:hover {
  color: dimgrey;
}

#about-inseason{
  text-decoration: none;
  color: indianred;
  font-family: 'rissatypefaceregular';
  font-size: 150px;
  position: absolute;
  margin-top: 0px;
  top: -1180px;
  left: 10%;
}

#about-inseason:hover {
  color: snow;
}

.button {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

#produce-header {
  font-family: 'rissatypefaceregular';
  font-size: 90px;
  padding: 20px 50px;
  height: 100px;
}

#produce-list {
  height: 600px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  overflow: scroll;
}

.produce-list {
  list-style-type: none;
}

#produce-name {
  font-family: 'rissatypefaceregular';
  font-size: 90px;
  color: indianred;
  margin: 0;
  padding-top: 30px;
  text-decoration: none;
  text-transform: lowercase;
}

.produce-name {
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 100;
  color: indianred;
  margin: 0;
  line-height: 14px;
}

#eachproduce-type {
  font-size: 20px;
}

.city-search-form {
  padding: 30px;
  height: 38px;
}

form {
  margin-bottom: 0;
}

#market-name {
  font-size: 16px;
  color: dimgrey;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
}

#market-address {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  line-height: 24px;
}

#market-season,
#market-hours,
#market-phone {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  line-height: 18px;
  padding: 5px;
}

.month-container {
  height: 140px;
  width: 300px;
  margin: 0 auto;
  overflow: scroll;
}

#map {
  height: 500px;
  width: 100%;
}

.market-display {
  height: 400px;
  overflow: scroll;
  float: right;
}

#produce-type,
#season-available,
#months-available {
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  margin: 0;
  padding: 5px;
}

#season-avail {
  text-transform: capitalize;
  margin: 0;
}

.month {
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  margin: 0;
}

.season-button {
  padding: 20px;
  height: 20px;
  width: 100px;
  font-size: 14px;
  color: dimgrey;
  text-transform: lowercase;
  border: 1px solid #bbb;
  border-radius: 4px;
  display: inline-block;
  overflow: auto;
}
