<section ng-controller="marketController">

  <form ng-submit="marketSearch()">
    <div class="row city-search-form">
      <div class="ten columns">
        <input class="city-search u-full-width" type="text" ng-model="citySearch" placeholder="enter your city">
      </div>
      <div class="two columns">
        <input type="submit" class="submit button">
      </div>
    </div>
  </form>

  <!-- <div class="row"> -->
    <!-- <div class="six columns"> -->
      <div id="map"></div>
    <!-- </div> -->
    <!-- <div class="six columns">
      <div class="market-display">
        <ul>
          <li ng-repeat="market in markets">
            <h3 id="market-name">{{market.market_name}}</h3>
            <h4 id="market-address">{{market.address_line_1}}, {{market.city}}, NY</h4>
            <p id="market-season">
              <strong>OPEN SEASON</strong>
              <br>
              {{market.operation_season}}
            </p>
            <p id="market-hours">
              <strong>HOURS</strong>
              <br>
              {{market.operation_hours}}
            </p>
            <p id="market-phone">
              <strong>PHONE</strong>
              <br>
              {{market.phone}}
            </p>
          </li>
        </ul>
      </div>
    </div> -->
  <!-- </div> -->

</section>
